<html lang="en">
	<head>
		<title>Welcome to MicroFrammer</title>
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
  		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
  		<style>
			body {
				font-family: 'Josefin Slab', serif;
				text-align: center;
			}
			.jumbotron {
				margin-top: 17%; 
			}
  		</style>
	</head>
	<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<h1><b>WELCOME</b> <small>MicroFrammer is here in your service!</small></h1>
					<quote><em>"MicroFrammer is tiny as atom but fast, We believe in production" - MKAY</em></quote>
				</div>
			</div>
		</div>
		<div class="footer">
			<footer>Learn More about <a href="#">microframmer</a></footer>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>